.App {
  width: 800px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  height: 20px;
  margin-bottom: 10px;
  font-size: 16px;
}

button {
  height: 25px;
  width: 160px;
  font-size: 16px;
}

span {
  font-size: 18px;
}

li {
  margin: 10px 0;
}

select {
  height: 25px;
  width: 160px;
  font-size: 16px;
}

.list-button {
  float: right;
  margin-left: 10px;
}

.filters {
  margin: 20px 0;
}
